<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="main.css">
    <title>로그인</title>
</head>
<body>
    <div class="main">
        <img class="logo" src="assets/HYU_symbol_basic_png.png" />
        <div class="login">
            <p class="login-text">에리카톡 로그인</p>
            <form action="/" method="POST">
                <input type="text" class="id" name="name" required placeholder="아이디를 입력하세요."/>
                <input type="password" class="pw" name="pwd" required placeholder="비밀번호를 입력하세요."/>

                <input type="submit" class="submit" value="로그인" />
            </form>
                
            <div class="register-button-wrapper">
                <button class="register" onclick="window.open('register.html','회원가입','width=470,height=550,location=no,status=no,scrollbars=yes');">회원가입</button>
            </div>
        </div>
    </div>
</body>
</html>